{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{# Section des témoignages de clients #}
    <section id="review">
        <h2 class="section__title">Découvrez les opinions de nos lecteurs passionnés</h2>
        <div class="reviews d-flex col-11 row mx-auto justify-content-center">
            {% include 'partials/_userReview.html.twig' with 
                {
                    'src' : "build/images/homepage/section-testimonial-user-1.png",
                    'name' : 'Adrien',
                    'stars' : 5,
                    'review' : 'Si vous cherchez une bibliothèque à la fois accueillante et avec une grande variété de livres, celle-ci est faite pour vous. Les bénévoles sont très serviables et les étagères sont pleines de trésors.'
                }
            %}
            {% include 'partials/_userReview.html.twig' with 
                {
                    'src' : "build/images/homepage/section-testimonial-user-2.png",
                    'name' : 'Sarah',
                    'stars' : 4,
                    'review' : "Cette association de prêt de livres est un vrai trésor pour les amateurs de lecture. Le processus d'emprunt est simple et rapide, et les bénévoles sont toujours prêts à recommander un bon livre."
                }
            %}
            {% include 'partials/_userReview.html.twig' with 
                {
                    'src' : "build/images/homepage/section-testimonial-user-3.png",
                    'name' : 'Célia',
                    'stars' : 5,
                    'review' : "J'aime beaucoup cette association de prêt de livres. Ils ont une collection impressionnante de livres et offrent des services de prêt très pratiques. De plus, leurs événements et activités autour de la lecture sont toujours très intéressants."
                }
            %}
        </div>
    </section>

{% include 'partials/_newsletter.html.twig' with {'isBlue': true } %}

{% endblock %}
