<section id="newsletter" class="{{ isBlue == true ? 'blue' : 'orange' }}">
    <h3>Pour rester à la page !</h3>

    <p class="paragraph py-4">Inscrivez vous à notre newsletter pour recevoir nos nouveautés</p>
    <form class="newsletter__form col-8 d-flex mx-auto">
        <input aria-label="email" type="email" placeholder="Votre email" name="email" id="email" class="form-control newsletter__form--input">
        <button class="newsletter__form--button rounded-end" type="submit">Envoyer</button>
    </form>
</section>