@import '../base/index';
@import '../abstracts/index';

#review {
    @include section($light-blue);
}
.section__title--review {
    @include title($blue);
}
.reviews {
    @include section-padding;
    width: fit-content;
    row-gap: 2rem;
}
.review {
    max-width: 390px;
    min-width: 312px;
    margin: 0 clamp(0.2rem, -0.2113rem + 1.8280vw, 2.188rem);
    background: $light; 

    &__image {
        background: #F0F9FB;
        & img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

#favorite {
    @include section($light-orange);
    font-family: $ff-secondary;
}

.section__title--favorite {
    @include title($primary);
}
.favorites {
    @include section-padding;
    row-gap: 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, clamp(20.5rem, 19.896rem + 2.476vw, 22.125rem));
    max-width: 1380px;
}
.favorite__container {
    margin: 0 1rem;
    
}
.favorite {
    position: relative;
    left: 100%;
    opacity: 0;
    visibility: hidden;
    background: $light;

    &--number {
        opacity: 0;
        z-index: 5;
        visibility: hidden;
        color: $pink;
        font-size: $fs-favorites-homepage;
        font-weight: 800;
        top: 18px;
        left: 100%;
    }

    &--image {
        z-index: 10;
        position: relative;
        opacity: 0;
        visibility: hidden;
        left: 100%;
    }

    &:hover > .card-book__hover {
        visibility: visible;
        opacity: 1;
    }
}

.favorite-fromRight {
    animation: favoriteFromRight .6s ease-out forwards;
}
@keyframes favoriteFromRight {
    to {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
}