@import '../base/index';
@import '../abstracts/index';

// Footer

.footer {
  background-color: #303030;
  font-family: $ff-secondary;

}

.footer_title {
  color: $primary;
}

.footer_contact {
  display: grid;
}

.footer_container {
  width: 120px;
  height: 120px;
  background-color: white;
}

.footer_text {
  color: $light-grey;
  font-size: $fs-400;
}

.social_media--container {
  background-color: white;
  height: 60px;
  width: 60px;;
}


.arrow_container {
  left: calc(100% - 3rem);
  width: fit-content;
  &--arrow {
    width: 54px;
    height: 54px;
    background-color: #F2921D;
    margin-top: -60px;
  }
}