@import '../base/index';

@mixin shadow-sm {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin title($color) {
    font-family: $ff-primary;
    background-color: $color;
    color: $light;
    height: 80px;
    font-size: $fs-900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin section($color) {
    overflow-x: hidden;
    background: $color;
    max-width: 100vw;
}

@mixin section-padding {
    padding: 5.625rem 0;
}
@mixin button-size {
    width: 157px;
    height: 58px;    
}