{% extends 'base.html.twig' %}

{% block title %}catalogue{% endblock %}

{% block body %}
<<form>
<div class="row">
    <div class="col">
  Recherche
    </div>
    <div class="col">
     Catégories
        </div>
    </div>

 </form>
{
  

{% endblock %}


  