{% extends 'base.html.twig' %}

{% block title %}Hello CatalogController!{% endblock %}

{% block body %}
{# Section des mieux notés #}
<section id="top-rated">
    <h2 class="section__title--top-rated">Les mieux notés</h2>
    <div class="books__container">
        <ul class="books__container--books mx-auto justify-content-between">
            {% include 'partials/_card-books.html.twig' with
                {
                    'src' : 'build/images/homepage/section-favorites-book-1.png',
                    'title' : 'Cras purus velit',
                    'synopsis' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis adipiscing Lorem ipsumd dolor sit amet, consectetur adipiscing elit. Nam iaculis adipiscing....',
                    'stars' : 5,
                    'available' : false,
                    'more_href' : '#',
                    'review_href': '#',
                }
        
            %}
            {% include  'partials/_card-books.html.twig' with
                    {
                        'src' : 'build/images/homepage/section-favorites-book-2.png',
                        'title' : 'Cras purus velit',
                        'synopsis' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis adipiscing....',
                        'stars' : 5,
                        'available' : false,
                        'more_href' : '#',
                        'review_href': '#',
                    }
                %}
                {% include  'partials/_card-books.html.twig' with
                    {
                        'src' : 'build/images/homepage/section-favorites-book-3.png',
                        'title' : 'Cras purus velit',
                        'synopsis' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis adipiscing....',
                        'stars' : 4,
                        'available' : true,
                        'more_href' : '#',
                        'review_href': '#',
                    }
                %}
                {% include  'partials/_card-books.html.twig' with
                    {
                        'src' : 'build/images/homepage/section-favorites-book-4.png',
                        'title' : 'Cras purus velit',
                        'synopsis' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis adipiscing....',
                        'stars' : 4,
                        'available' : true,
                        'more_href' : '#',
                        'review_href': '#',
                    }
                %}
                {% include  'partials/_card-books.html.twig' with
                    {
                        'src' : 'build/images/homepage/section-favorites-book-5.png',
                        'title' : 'Cras purus velit',
                        'synopsis' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis adipiscing....',
                        'stars' : 4,
                        'available' : true,
                        'more_href' : '#',
                        'review_href': '#',
                    }
                %}
                {% include  'partials/_card-books.html.twig' with
                    {
                        'src' : 'build/images/homepage/section-favorites-book-6.png',
                        'title' : 'Cras purus velit',
                        'synopsis' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis adipiscing....',
                        'stars' : 4,
                        'available' : true,
                        'more_href' : '#',
                        'review_href': '#',
                    }
                %}
        </ul>
        <a href="#" class="see-more__button btn position-relative left rounded d-flex justify-content-center align-items-center">Voir plus</a>
    </div>
</section>
{% endblock %}
