$primary: #f2921c;
$secondary: #0dc4d9;
$success: #90e39a;
$danger: #a71d31;
$warning: #fdfcdc;
$info: #2f6690;
$light: #fbfcff;
$dark: #1e1e1e;

$blue: #0dc4d9;
$light-blue: #c4eaef;
$orange: #f2921d;
$light-orange: #f4e0c7;
$pink: #d92353;
$light-pink: #f67070;
$grey: #303030;
